<<<<<<< HEAD
h1{
    text-align: center;
}
.a{
    display: inline-block;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:600px) {
    style{
        height: 50px;
        width: 50px;
    }
    
=======
h1{
    text-align: center;
}
.a{
    display: inline-block;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:600px) {
    style{
        height: 50px;
        width: 50px;
    }
    
>>>>>>> a6b2ae0 (initial commit)
}